.row-fluid
  .span3
    %ul.nav.nav-list
      %li
        =link_to t(".Profile"), profile_path
      %li
        =link_to t(".Settings"), settings_personal_path
      %li
        =link_to t(".Repositories"), settings_repositories_path
  .span9
    %h2
      = t(".Repositories")
      %span.pull-right
        %i.icon-spinner.icon-spin
        %span.btn.btn-success
          = t(".sync")

    %table.table
      %tbody
        %tr
          %td
            zzet/commits.io
          %td
            
        %tr
          %td
            Andrew8xx8/awesome-cropper
          %td
            
        %tr
          %td
            zzet/commits.io
          %td
            