.row-fluid.hero
  .span6
    %ul.unstyled
      %li 
        %span 1
        Analyse your code quality
      %li 
        %span 2
        Watch for the best guys
      %li 
        %span 3
        Track you repo commits
  .span6.btn-enter-wrap
    - if signed_in?
      = link_to t('.sign_out'), session_path, method: :delete
    - else
      = link_to sign_in_via_social_network_cpath(:github), {class: "btn btn-success btn-enter"} do
        %i.icon-github.icon-4x
        %span.btn-text
          Sign in via
          %br
          %span.github
            github
