- if @commits
  .b-dots
  = render 'web/shared/commits', commits: @commits
- else
  .row-fluid
    .span12
      = link_to t('.Activate some of your repositories'), settings_repositories_path, class: 'btn btn-large btn-success'
