.navbar.navbar-custom
  .navbar-inner
    %ul.nav.pull-right
      %li
        =link_to t(".Profile"), profile_path
      %li
        =link_to t(".Settings"), settings_personal_path
      %li
        = link_to t('.sign_out'), session_path, method: :delete
