html,
body {
  height: 100%;
}
body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  @include sticky-footer(54px, ".main", ".main-footer", ".footer");
  a {
    @include link-colors($link-base-color, darken($link-base-color, 5%), $link-base-color, $link-base-color, $link-base-color);
    @include single-transition();
  }
}

.navbar-custom {
  margin-bottom: 0;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #f9f9f9;
  @include single-box-shadow(darken(#fff, 5%), 0, -4px, 8px, 0, inset);
  h1 {
    font-size: 72px;
    line-height: 40px;
    font-family: $slave-font-family;
    margin-bottom: 30px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  p {
    font-size: 24px;
    font-style: italic;
  }
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.hero {
  padding-top: 60px;
  ul {
    font-size: 24px;
    li {
      margin-bottom: 24px;
      span {
        display: inline-block;
        background-color: #ccc;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        margin-right: 10px;
        @include border-radius(20px);
      }
    }
  }
  .btn-enter-wrap {
    text-align: center;
    .btn-enter {
      padding: 20px 30px;
      font-size: 24px;
      color: #fff !important;
      .btn-text {
        font-size: 24px;
        line-height: 40px;
        .github {
          font-weight: bold;
          font-size: 36px;
        }
      }
      i {
        float: left;
        margin-right: 20px;
      }
    }
  }
}

.footer {
  background-color: #f9f9f9;
  @include single-box-shadow(darken(#fff, 5%), 0, 4px, 8px, 0, inset);
  line-height: 54px;
}