html,
body {
  height: 100%;
}
body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  @include sticky-footer(54px, ".main", ".main-footer", ".footer");
  a {
    @include link-colors($link-base-color, darken($link-base-color, 5%), $link-base-color, $link-base-color, $link-base-color);
    @include single-transition();
  }
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fcfcfc;
  @include single-box-shadow(darken(#fff, 5%), 0, -4px, 8px, 0, inset);
  h1 {
    font-size: 72px;
    line-height: 40px;
    font-family: $slave-font-family;
    margin-bottom: 30px;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  p {
    font-size: 24px;
    font-style: italic;
  }
}