%h1 Merge branch 'feature/material_and_task_in_course' into develop

.center
  %h2 Metric – value
  %h2 Metric – value
  %h2 Metric – value

.b-dots

.center
  %a.btn.btn-success.btn-large{:href => "#"}
    %i.icon-twiiter Share this commit to twitter! 